@model IEnumerable<TRPR.Models.Comment>


@if (Model != null)
            {
                foreach (Comment comment in Model)
                {
            <div class="row" style="width: 100.3%; border-bottom: 1px solid #000000; margin-right: -14px; margin-left: -1px;">
                <div class="col-md-4" style="width: 21%;">
                    <div class="userCard" style="margin-left: 9px; margin-top: 12px;">
                        <p style="margin-left: 5px; font-weight: bold; font-size: 13px;">@Html.DisplayFor(Model => comment.ResearcherID)<!--add username stuff here--></p>
                    </div>
                </div>
                <div class="col-md-7" style="width: 60%;">
                    <div class="commentDetails">
                        <p style="margin-top: 27px; font-size: 13px; color: black;">@Html.DisplayFor(Model => comment.Comtext)</p>
                    </div>
                </div>
                <div class="col-md-1" style="width: 19%;">
                    <div class="'commentDate">
                        <span class="gylphicon glyphicon-time" aria-hidden="true"></span>
                        <time class="timeago" style="margin-top: 27px; font-size: 13px; color:dimgray;" datetime="@comment.CreatedOn">@comment.CreatedOn</time>
                    </div>
                </div>
            </div>
        }
        <p>
            <a asp-action="~/Comments/Create">Create New comment</a>
        </p>
}


<!--<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RevID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComAccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comtext)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RevID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComAccess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comtext)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>-->