@page "../../../Views/Shared/_Layout.cshtml"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style4.css" />
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".add-row").click(function () {
            var name = $("#lstItem").val();
            //var email = $("#email").val();
            var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td><input type= 'text' class='form-control'></td><td><input type='text' class='form-control'></td></tr>";
            $("table tbody").append(markup);
        });

        // Find and remove selected table rows
        $(".delete-row").click(function () {
            $("table tbody").find('input[name="record"]').each(function () {
                if ($(this).is(":checked")) {
                    $(this).parents("tr").remove();
                }
            });
        });
        $(function () {
            $("#btnShowModal").click(function () {
                $('#basicExampleModal').modal('show');
            });
        });
    });
</script>
<!--------------------- Modal------------------------------->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <fieldset class="form-group">
                                <label id="lblNewCust">NEW CUSTOMER</label>
                                <div class="row row-centered">
                                    <div class="col col-centered">
                                        <label class="col-form-label text-md-right" id="lblCustFirst">First Name:</label>
                                        <asp:TextBox class="form-control" ID="txtCustFirst" runat="server"></asp:TextBox>
                                    </div>
                                    <div class="col">
                                        <label class="col-form-label text-md-right" id="lblCustLast">Last Name:</label>
                                        <asp:TextBox class="form-control" ID="txtCustLast" runat="server"></asp:TextBox>
                                    </div>
                                    <div class="col">
                                        <label class="col-form-label text-md-right" id="lblPhone">Phone Number:</label>
                                        <asp:TextBox class="form-control" ID="txtPhone" runat="server"></asp:TextBox>
                                    </div>
                                </div>
                                <div class="row row-centered">
                                    <div class="col col-centered">
                                        <label class="col-form-label text-md-right" id="lblAddress">Address:</label>
                                        <asp:TextBox class="form-control" ID="txtAddress" runat="server"></asp:TextBox>
                                    </div>
                                    <div class="col">
                                        <label class="col-form-label text-md-right" id="lblCity">City:</label>
                                        <asp:TextBox class="form-control" ID="txtCity" runat="server"></asp:TextBox>
                                    </div>
                                    <div class="col">
                                        <label class="col-form-label text-md-right" id="lblPostal">Postal Code:</label>
                                        <asp:TextBox class="form-control" ID="txtPostal" runat="server"></asp:TextBox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label text-md-right" id="lblEmail">Email:</label>
                                        <asp:TextBox class="form-control" ID="txtEmail" runat="server"></asp:TextBox>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-md btn-outline-info" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-md btn-outline-info">Save</button>
                </div>
            </div>
        </div>
    </div><!-----modal-------->
</div>
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Journals</a></li>
                <li><a href="https://www.trontario.org/education-research/trpr--journal-of-tro/index.html#v15-call-for-papers"> Call for Papers </a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="https://www.trontario.org/contact/index.html">Contact</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>

            </ul>
            <button id="btnShowModal">Register</button>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <section>
            @*<h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }*@
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <form method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
