@model TRPR.Models.ReviewAssign

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ReviewAssign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.PaperInfo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PaperInfo.PaperTitle)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Researcher)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Researcher.FullName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Roles)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Roles.RoleTitle)
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                <label asp-for="RevContentReview" class="control-label"></label>
                <input asp-for="RevContentReview" class="form-control" />
                <span asp-validation-for="RevContentReview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RevKeywordReview" class="control-label"></label>
                <input asp-for="RevKeywordReview" class="form-control" />
                <span asp-validation-for="RevKeywordReview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RevLengthReview" class="control-label"></label>
                <input asp-for="RevLengthReview" class="form-control" />
                <span asp-validation-for="RevLengthReview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RevFormatReview" class="control-label"></label>
                <input asp-for="RevFormatReview" class="form-control" />
                <span asp-validation-for="RevFormatReview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RevCitationReview" class="control-label"></label>
                <input asp-for="RevCitationReview" class="form-control" />
                <span asp-validation-for="RevCitationReview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecommendID" class="control-label"></label>
                <select asp-for="RecommendID" class="form-control" asp-items="ViewBag.RecID">
                    <option value=null>Select an option</option>
                </select>
                <span asp-validation-for="RecommendID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewAgainID" class="control-label"></label>
                <select asp-for="ReviewAgainID" class="form-control" asp-items="ViewBag.ReRevID">
                    <option value=null>Select an option</option>
                </select>
                <span asp-validation-for="ReviewAgainID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
