@{
    ViewData["Title"] = "Home Page";
}



@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

@{
    ViewData["Title"] = "Dashboard";
}
        <div class="page">
            <div>
            <h2 style="display: inline">@ViewData["Title"]</h2>
                <input type="button" id="btnSubmission" class="btnMed" value="New Submission" onclick="location.href='@Url.Action("Create", "PaperInfo")'" />
            </div>
            <div id="AuthorDash">
                <div id="AD3">
                    <input type="button" class="btnLgLt" value="Papers Submitted" onclick="location.href='@Url.Action("Index", "PaperInfo")'" />
                    <input type="button" class="btnLgMd" value="Reviewed" onclick="location.href='@Url.Action("Index", "PaperInfo")'" />
                    <input type="button" class="btnLgDk" value="Drafts" onclick="location.href='@Url.Action("Index", "PaperInfo")'" />

                </div>
                <div id="AD4">
                    <h3>Most Recent</h3>
                    <table style="width:100%">
                        <tr>
                            <th>Paper</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Delete</th>
                        </tr>
                        <tr>
                            <td>Multisensory Environments</td>
                            <td>6th May 2018</td>
                            <td>Accepted</td>
                            <td><i class="far fa-trash-alt"></i></td>
                        </tr>
                        <tr>
                            <td>Multisensory Environments</td>
                            <td>6th May 2018</td>
                            <td>Accepted</td>
                            <td><i class="far fa-trash-alt"></i></td>
                        </tr>
                        <tr>
                            <td>Multisensory Environments</td>
                            <td>6th May 2018</td>
                            <td>Accepted</td>
                            <td><i class="far fa-trash-alt"></i></td>
                        </tr>
                        <tr>
                            <td>Multisensory Environments</td>
                            <td>6th May 2018</td>
                            <td>Accepted</td>
                            <td><i class="far fa-trash-alt"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
