@model TRPR.Models.PaperInfo

@{
    ViewData["Title"] = "Details";
}

<div class="page container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-7" style="padding-left:0; margin-right:200px;">
                <div>
                    <div class="form-group">
                        <div class="">
                            @Html.DropDownList("ViewerFileID", null, "Select a File", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div id="header1">
                        <h6 style="width:fit-content" id="status">Pending</h6>
                        <h4 id="reference code">@Html.DisplayNameFor(model => model.ID)</h4>
                        <h5 id="reference code">@Html.DisplayFor(model => model.ID)</h5>
                        <h6 id="date">Due Date: </h6>
                    </div>
                    <div id="header2">
                        <h6>
                            @Html.DisplayNameFor(model => model.PaperTitle)
                        </h6>
                        <h6>
                            @Html.DisplayFor(model => model.PaperTitle)
                        </h6>
                    </div>
                </div>
                <hr />
                <div id="showViewer" class="form-group">

                    @*---------------------------------------- pdf view here ------------------------------------------------------------*@

                </div>
            </div>
            <div class="col-lg-4">


                <h4 style="margin-bottom:10px;">
                    @Html.DisplayNameFor(model => model.PaperAbstract)
                </h4>
                <h5 style="border: solid 1px rgba(112,112,112,.5);background-color:#fff; padding:10px;">
                    @Html.DisplayFor(model => model.PaperAbstract)
                </h5>
                <h4 style="margin-bottom:10px;">
                    @Html.DisplayNameFor(model => model.PaperTypeID)
                </h4>
                <h5>
                    @Html.DisplayFor(model => model.PaperType.Name)
                </h5>
                <h4 style="margin-bottom:10px;">
                    @Html.DisplayNameFor(model => model.PaperLength)
                </h4>
                <h5>
                    @Html.DisplayFor(model => model.PaperLength)
                </h5>
                <h4 style="margin-bottom:10px;">
                    @Html.DisplayNameFor(model => model.StatusID)
                </h4>
                <h5>
                    @Html.DisplayFor(model => model.StatusID)
                </h5>
            </div>


            @* @Html.Partial("_Comment", new List<TRPR.Models.Comment>())*@
            @*@{var c = new List<Comment>();

        }*@

            @*@{ var p = new TRPR.Models.ReviewAssign();
            <partial name="_reviewAssign" model="p" />

        }*@
            @*<a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>*@
        </div>

    </div>

</div>

@section Scripts {
    <script type="text/javascript">
        $('#ViewerFileID').change(function () {
            var selectedOption = $("#ViewerFileID").val();
            $('#showViewer').load('/PaperInfo/GetViewerPartial/' + selectedOption);
        });
    </script>
}

