@model IEnumerable<TRPR.Models.PaperInfo>


<table class="table table-striped">
    <thead class="">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaperTitle)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PaperAbstract)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PaperType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.StatName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AuthoredPapers)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Files)
                @*<input type="submit" disabled="disabled" value="Files" />*@
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaperTitle)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PaperAbstract)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PaperType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatName)
            </td>
            @*<td>
                @foreach (var c in item.AuthoredPapers)
                {
                    @c.Researcher.ResBio <br />
                }
            </td>*@
            <td>
                @{
                    foreach (var f in item.Files)
                    {
                        <a asp-action="Download" title="@f.FileName" asp-route-id="@f.ID">@f.FileName</a>
                        <br />
                    }
                }
            </td>
            <td>
                @foreach (var o in item.Files)
                {
                    @o.CreatedOn <br />
                }
            </td>
            <td>
                <a asp-controller="ReviewAssign" asp-action="Edit" asp-route-id="@item.ID">Review</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
